.pop{
    animation:popup 5s infinite;
}
@keyframes popup {
    0% { transform: translateY(0);}
    50% { transform:translateY(40px);}
    100% {transform:translateY(0);}
}

.btn:hover{
    transform:scale(1.05);
    background-color:#830e14;
}
.work:hover{
    transform:scale(1.05);
    box-shadow: 0 0 10px #830e14,
    0 0 50px #830e14;
}

@media(width<500px){
    .navbar .status h4,
    .navbar .opt{
        font-size: smaller;
    }
    .navbar{
        height:auto;
    }
}
#btn:hover{
    background-color:#222020;
    transform:scale(1.1);
}
@media(width<962px){
    .work{
        width:10rem;
        height:15rem;
        margin-left:auto;
        margin-right:auto;
    }
    .tech{
        margin-left:auto;
        margin-right:auto;
    }
}
@media(width<721px){
    .work{
        width:6rem;
        height:10rem;
    }
}