.pop{
    animation:popup 5s infinite;
}
@keyframes popup {
    0% { transform: translateY(0);}
    50% { transform:translateY(40px);}
    100% {transform:translateY(0);}
}

.btn:hover{
    transform:scale(1.05);
    background-color:#830e14;
}
.btn{
    transition:all 0.2s ease-in-out;
    font-weight: 600;
    font-size:16px;
    
}
.work:hover{
    transform:scale(1.05);
    box-shadow: 0 0 10px #830e14,
    0 0 50px #830e14;
}

@media(width<500px){
    .navbar .status h4,
    .navbar .opt{
        font-size: smaller;
    }
    .navbar{
        height:auto;
    }
}
